<% content_for :title, "Groups" %>

<% content_for :actions do %>
    <div class="btn-group">
    <%= link_to new_group_path, :class => "btn" do %>
      <i class="plus"></i> New group
    <% end %>
    </div>
<% end %>

<% if invitations.any? %>
  <p>You have group invitations waiting for your response.</p>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>
          <div class="btn-toolbar pull-right">
            <div class="btn-group">
            <%= link_to '#', :class => "btn" do %>
              <i class="ok"></i> Accept
            <% end %>
            <%= link_to '#', :method => :delete, :confirm => "Are you sure?", :class => "btn" do %>
              <i class="remove"></i> Reject
            <% end %>
            </div>
          </div>

          <h4>Algo</h4>
          You have been invited by <strong>sognat</strong>.
        </td>
      </tr>
      <tr>
        <td>
          <div class="btn-toolbar pull-right">
            <div class="btn-group">
            <%= link_to '#', :class => "btn" do %>
              <i class="ok"></i> Accept
            <% end %>
            <%= link_to '#', :method => :delete, :confirm => "Are you sure?", :class => "btn" do %>
              <i class="remove"></i> Reject
            <% end %>
            </div>
          </div>

          <h4>Algo</h4>
          You have been invited by <strong>sognat</strong>.
        </td>
      </tr>
    </tbody>
  </table>
<% end %>

<% if groups.any? %>
<table class="table table-bordered">
  <tbody>
    <% groups.each do |group| %>
    <tr>
      <td>
        <h4><%= group.name %></h4>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>You don't belong to any group.</p>
<% end %>

<%= groups.inspect %>