<% content_for :title, "Login" %>


<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <% if devise_mapping.rememberable? -%>
    <%= f.hidden_field :remember_me, :value => true %>
  <% end -%>

  <div class="clearfix">
    <%= f.label :username %>
    <div class="input">
      <%= f.text_field :username %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :password %>
    <div class="input">
      <%= f.password_field :password %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Login", :class => "btn btn-primary" %>
    <%= link_to "Create account", new_registration_path(resource_name) %>
  </div>
<% end %>
