<% content_for :title, "Login" %>


<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <% if devise_mapping.rememberable? -%>
    <%= f.hidden_field :remember_me, :value => true %>
    <% end -%>

  <div><%= f.label :username %><br />
  <%= f.text_field :username %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.submit "Login" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>