<%= form_for(paste) do |f| %>
  <p class="form-inline paste-actions">
    <%= f.text_field :name, :placeholder => "File name (optional)" %>
    <%= f.select :syntax, Paste.syntax_options %>
    <%= f.submit "Paste code", :class => "btn primary pull-right" %>
  </p>
  <%= f.text_area :code, :spellcheck => false %>
<% end %>
