<%= form_for(@paste) do |f| %>
  <%= f.submit "Paste code", :class => "btn btn-primary pull-right" %>
  <p class="form-inline paste-actions">
    <%= f.text_field :name, :placeholder => "File name (optional)" %>
    <%= f.select :syntax, Paste::SYNTAXES %>
  </p>
  <%= f.text_area :code, :spellcheck => false %>
<% end %>
