<%= form_for(paste) do |f| %>
  <div class="clearfix">
    <%= f.text_field :name, :placeholder => "File name (optional)" %>
    <%= f.select :syntax, Paste.syntax_options %>
    
  </div>
  <%= f.text_area :code, :spellcheck => false, :class => "paste-code" %>
  <div class="clearfix paste-actions">
    <%= f.submit "Paste code", :class => "btn primary" %>
  </div>
<% end %>
