<%= form_for(paste) do |f| %>
  <% if params[:action] == "edit" %>
    <div class="pull-right btn-group">
      <%= link_to "#", :class => "btn", :onclick => "$('#edit_#{dom_id(paste)}').submit()" do %>
        <i class="ok"></i> Save
      <% end %>
      <!--<%= f.submit "Save", :class => "btn" %>-->
      <%= link_to paste, :class => "btn danger", :confirm => "Discard changes?" do %>
        <i class="remove"></i>
      <% end %>
    </div>
  <% else %>
    <%= f.submit "Paste code", :class => "btn primary pull-right" %>
  <% end %>

  <p class="form-inline paste-actions">
    <%= f.text_field :name, :placeholder => "File name (optional)" %>
    <%= f.select :syntax, Paste.syntax_options %>
  </p>
  <%= f.text_area :code, :spellcheck => false %>
<% end %>
