<% content_for :title do %>
  Show paste
  <% if @paste.name.present? %>
    <small><%= @paste.name %></small>
  <% end %>
<% end %>

<% content_for :actions do %>
    <div class="btn-group">
    <%= link_to download_paste_path(@paste), :class => "btn" do %>
      <i class="icon-download-alt"></i> Download file
    <% end %>
    </div>
    <% if @paste.managable_by?(current_user) %>
    <div class="btn-group">
    <%= link_to edit_paste_path(@paste), :class => "btn" do %>
      <i class="icon-edit"></i> Edit
    <% end %>
    <%= link_to @paste, :method => :delete, :confirm => "Are you sure?", :class => "btn btn-danger" do %>
      <i class="icon-trash icon-white"></i> Delete
    <% end %>
    </div>
    <% end %>
<% end %>

<div class="code-container">
  <%= raw(@paste.highlighted) %>
  <div class="line-numbers"></div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    var num = $('.highlight').html().split("\n").length;
    for (i = 1; i < num; i++) {
      $('.line-numbers').append(i+"<br />");
    }
  })
</script>
