<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Morse</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrapper">
      <div class="alpha">&alpha;</div>

      <div class="header">
        <h1><%= yield :title %></h1>

        <ul class="navigation">
          <li><%= link_to "New paste", root_path %></li>
          <% if signed_in? %>
          <li><%= link_to "Pastes", pastes_path %></li>
          <li><a href="#">Algo</a></li>
          <% end %>
        </ul>
        
        <div class="user">
        <% if signed_in? %>
          Hello,
          <%= link_to current_user.username, edit_user_registration_path %>
          (<%= link_to "log out", destroy_user_session_path, :method => :delete %>)
        <% else %>
          <%= link_to "Login", new_user_session_path %> or
          <%= link_to "create account", new_user_registration_path %>
        <% end %>
        </div>
      </div>
      
      <% if notice %><p class="notice"><%= notice %></p><% end %>
      <% if alert %><p class="alert"><%= alert %></p><% end %>
      <%= yield %>
    </div>
    <p class="foot">
      <a href="/shell">Paste files from your terminal!</a><br /></br>
      Copyright &copy; 2011 by <a href="http://swirski.name">Grzegorz Świrski.</a>
    </p>
  </body>
</html>
<html>
