<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Morse</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div class="container">
          <ul class="menu navigation">
            <li>
              <%= link_to root_path do %>
                <i class="icon-file"></i> New paste
              <% end %>
            </li>
            <% if signed_in? %>
            <li>
              <%= link_to pastes_path do %>
                <i class="icon-inbox"></i> Browse
              <% end %>
            </li>
            <% end %>
          </ul>

          <ul class="user-actions navigation">
            <% if signed_in? %>
            <li>
              <%= link_to edit_user_path do %>
                <i class="icon-cog"></i> <%= current_user.username %>
              <% end %>
            </li>
            <li>
              <%= link_to :session, :method => :delete do %>
                <i class="icon-off"></i>
              <% end %>
            </li>
            <% else %>
            <li class="unlogged">
              <%= link_to "Login", new_session_path %> or
              <%= link_to "create account", new_user_path %>
            </li>
          <% end %>
          </ul>
        </div>
      </div>

      <div class="content">
        <div class="container">
          <% if notice %>
            <div class="alert alert-success">
              <%= notice %>
            </div>
          <% end %>
          <% if alert %>
            <div class="alert alert-error">
              <%= alert %>
            </div>
          <% end %>

          <div class="btn-toolbar pull-right">
            <%= yield :actions %>
          </div>
          <h1><%= yield :title %></h1>

          <%= yield %>
        </div>
      </div>

      <div class="push"></div>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="pull-right">
          Copyright &copy; 2012 by
          <a href="http://swirski.name">Grzegorz Świrski</a>
        </p>
        <p><%= link_to "Paste files from your terminal!", shell_page_path %></p>
      </div>
    </footer>
  </body>
</html>
