<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Morse</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrapper">
      <p style="text-align: right">
      <% if signed_in? %>
        Signed in as
        <%= link_to current_user.username, edit_user_registration_path %>.
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path %>
      <% end %>
      </p>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
    <p class="foot">
      <a href="/shell">Paste files from your terminal!</a><br />
      Copyright &copy; 2011 by <a href="http://swirski.name">Grzegorz Świrski.</a>
    </p>
  </body>
</html>
<html>
